$color-black-0: #000;
$color-white-0: #fff;
$color-orange-0: #ec7532;

// variable font-size
$fs-0: 16px; //default
$fs-1: 20px;
$fs-2: 24px;

//variable margin
$mg-0: 8px;
$mg-1: 10px;
$mg-2: 16px;
$mg-3: 32px;

//variable padding
$pd-0: 5px;
$pd-1: 10px;
$pd-2: 16px;
$pd-3: 32px;

//variable border-radius
$border-radius-0: 5px;
$border-radius-1: 10px;

$breakpoints: (
  "extra-large": 1200px,
  "large": 992px,
  "medium": 768px,
  "small": 576px,
);
