.movies-wrapper {
  margin: 2rem;
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 20px;
  column-gap: 20px;
  .movies-item {
    background-color: transparent;
    border: 2px solid #ec7532;
    border-radius: 10px;
    padding: 1rem;
    color: #fff;
    .item-name {
      font-weight: bold;
      font-size: 20px;
      color: #ec7532;
      margin-bottom: 10px;
    }
    .item-description {
      text-align: justify;
      margin-bottom: 10px;
    }
    .item-play {
      display: inline-block;
      border: 1px solid #ec7532;
      border-radius: 5px;
      padding: 10px;
      color: #ec7532;
      font-weight: 600;
      background-color: transparent;
      transition: 0.3s background-color ease-in-out;
    }
    .item-play:hover {
      background-color: #ec7532;
      color: #000;
      cursor: pointer;
    }
  }
}

@include mediaQueryMax("medium") {
  .movies-wrapper {
    grid-template-columns: auto auto;
    row-gap: 20px;
    column-gap: 20px;
  }
}

@include mediaQueryMax("small") {
  .movies-wrapper {
    grid-template-columns: auto;
    row-gap: 10px;
    column-gap: 20px;
  }
}
